body {
  background: url("../img/bgi.png") center / cover no-repeat;
}

/* SECTION */
.apropos {
  min-height: 100vh;
  padding-top: 140px; 
  padding-bottom: 200px;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0 60px;
}

.card {
  width: 360px;
  min-height: 180px; 
  background: rgba(255, 255, 255, 0.932);
  
  border-radius: 25px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  position: relative;
  padding: 25px;
}

.arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.arrow:link, .arrow:visited, .arrow:hover, .arrow:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@media (max-width: 768px) {

  .apropos {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .cards {
    flex-direction: column;
    gap: 24px;
    padding: 0 16px;
  }

  .card {
    width: 100%;
    min-height: auto;
    font-size: 16px;
    padding: 20px;
    border-radius: 18px;
  }

  .arrow {
    width: auto;
    height: auto;
    border: none;
    border-radius: 0;
    bottom: 16px;
    right: 16px;
    font-size: 20px;
    opacity: 0.7;
  }

  .arrow:hover {
    opacity: 1;
  }
}