* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: url("../img/bgi.png") center / cover no-repeat;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
}

.hero-content {
  padding: 160px 40px 0;
}

.left {
  flex: 1;
}

.lang {
  position : relative;
  z-index : 2000;
}

.lang a:link, .lang a:visited, .lang a:active {
  color: white;
  text-decoration: none;
}

.lang a:hover {
  color: rgba(255, 255, 255, 0.853);
}


.header {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  height: 90px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1000;
}

.glass-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.glass-menu {
  list-style: none;
  display: flex;
  gap: 3rem;
  padding: 14px 30px;
  border-radius: 40px;

  background: rgba(20, 20, 20, 0.45);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.15);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.glass-menu li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 30px;
  transition: 0.3s ease;
}

.glass-menu li i {
  color: #3fc9c0;
}

.glass-menu li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.glass-menu li:hover {
  background: rgba(63, 201, 192, 0.25);
  box-shadow: 0 0 15px rgba(63, 201, 192, 0.4);
}

/* ACTIVE */
.glass-menu li.active {
  background: linear-gradient(135deg, #3fc9c0, #1c6f6b);
  box-shadow: 0 0 18px rgba(63, 201, 192, 0.6);
}

.glass-menu li.active a,
.glass-menu li.active i {
  color: #fff;
}


/* SECTION */
.apropos {
  min-height: 100vh;
  padding-top: 140px; 
  padding-bottom: 200px;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0 60px;
}

.card {
  width: 360px;
  min-height: 180px; 
  background: rgba(255, 255, 255, 0.932);
  
  border-radius: 25px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  position: relative;
  padding: 25px;
}

.arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.arrow:link, .arrow:visited, .arrow:hover, .arrow:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.footer {
  background: #274242;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1.3fr 1.3fr;
  gap: 50px;
  padding: 40px 80px;
  font-size: 14px;
  color: white;
}

.footer a {
  color: white;
  text-decoration: underline;
}

.footer a:hover {
  opacity: 0.8;
}

.footer-col {
  line-height: 1.6;
}

.footer strong {
  display: inline-block;
  margin-bottom: 8px;
  text-decoration: underline;
}

footer a {
    color: white; 
    text-decoration: underline; 
}

footer a:hover {
    color: #ccc; 
}

/* GitHub */
.footer-github {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.footer-github a {
  color: white;
}

.footer-github svg {
  flex-shrink: 0;
  margin-top: 4px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.footer-github a:hover svg {
  opacity: 0.8;
}

/* COPYRIGHT */
.copyright {
  background: #7f8f8f;
  text-align: center;
  padding: 12px;
  font-size: 13px;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  /* menu */
  .burger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    margin-left: 20px;
  }

  .burger span {
    width: 28px;
    height: 3px;
    background: white;
    border-radius: 2px;
  }

  .burger {
    z-index: 3000;
  }

  .nav {
    position: fixed;
    top: 80px;
    right: 0;
    width: 220px;
    height: calc(100vh - 80px);
    background: rgba(0,0,0,0.97);
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
    gap: 25px;

    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .nav.active {
    transform: translateX(0);
  }

  .footer {
    grid-template-columns: 1fr;
    gap: 30px;
  }

}