* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: black;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
}

.hero-content {
  padding: 160px 40px 0;
}

.left {
  flex: 1;
}

.lang a:link, .lang a:visited, .lang a:active {
  color: white;
  text-decoration: none;
}

.lang a:hover {
  color: rgba(255, 255, 255, 0.853);
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
}

.nav a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 2px 0;
  transition: color 0.25s ease;
}

/* le trait */
.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav a.active {
  color: #ffffff;
}

.nav a.active::after {
  transform: scaleX(1);
}

#map {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.filtres {
  max-height: calc(100vh - 200px);
  overflow-y: auto;  
  position: absolute;
  top: 150px;
  left: 65px;
  width: 230px;
  background: rgba(6, 6, 6, 0.914);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.titre {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 18px;
  padding: 12px;
  cursor: grab;
  border-radius: 22px 22px 0 0;
}

.filtres button {
  background: #666;
  border: none;
  border-radius: 15px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.filtres button:hover {
  background:#3f8093;
}

/* slider */
.periode input[type="range"] {
  -webkit-appearance: none;
  width: 85%;
  height: 6px;
  background: linear-gradient(to right, #5c91db, #DED44D);
  border-radius: 6px;
  outline: none;
}

/* bouton du slider */
.periode input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.option {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  background: #666;
  border-radius: 20px;
  padding: 10px 14px;

  cursor: pointer;
  transition: 0.2s ease;
  user-select: none;
}

/* cacher les radios */
.option input {
  display: none;
}

.option:hover {
  background: rgba(63, 201, 192, 0.4);
}

.option:has(input:checked) {
  background: rgba(63, 201, 192, 0.4);
  font-weight: bold;
}

.type {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  opacity: 0.8;
}

input[type="submit"] {
  margin-top: 15px;
  padding: 12px;
  width: 100%;

  background: #666;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;

  border: none;
  border-radius: 18px;
  cursor: pointer;
}

.filtres::-webkit-scrollbar {
  width: 5px;
}

.filtres::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
}

.filtres::-webkit-scrollbar-thumb {
  background: rgb(143, 143, 143);
  border-radius: 15px;
}

.filtres::-webkit-scrollbar-thumb:hover {
  background: #f5f5f5ca;
}