* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overscroll-behavior: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background: black;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  height: 80px;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;

  /* shadow */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;
}

.left {
  font-size: 20px;
}

.left a:link, .left a:visited, .left a:active {
  color: white;
  text-decoration: none;
}

.left a:hover {
  color: rgba(255,255,255,0.75);
}

.nav {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.nav a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.25s ease;
}

.nav a:hover {
  color: rgba(255,255,255,0.75);
}

.nav a.active {
  color: rgba(255,255,255,0.75);
}

#map {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.filtres {
  max-height: calc(100vh - 200px);
  overflow-y: auto;  
  position: absolute;
  padding-right: 10px;
  top: 150px;
  left: 65px;
  width: 210px;
  background: rgba(40,40,40,0.85);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.titre {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 18px;
  padding: 12px;
  cursor: grab;
  border-radius: 22px 22px 0 0;
}

.filtres button {
  background: #666;
  border: none;
  border-radius: 15px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.filtres button:hover {
  background:#3f8093;
}

/* slider */
.periode input[type="range"] {
  -webkit-appearance: none;
  width: 85%;
  height: 6px;
  background: linear-gradient(to right, #c6de4d, #3f8093);
  border-radius: 6px;
  outline: none;
}

/* bouton du slider */
.periode input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.option.active {
  background: #3f9389;
  font-weight: bold;
}

.type {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  opacity: 0.8;
}

.filtres::-webkit-scrollbar {
  width: 5px;
}

.filtres::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
}

.filtres::-webkit-scrollbar-thumb {
  background: rgb(143, 143, 143);
  border-radius: 15px;
}

.filtres::-webkit-scrollbar-thumb:hover {
  background: #f5f5f5ca;
}

/* icone "?" */
.help {
  position: relative;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #666;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-popup {
  position: absolute;
  bottom: 130%;
  right: 0;
  width: 220px;

  background: #3f8093;
  color: white;
  padding: 10px 12px;
  border-radius: 10px;

  font-size: 16px;
  line-height: 1.4;

  opacity: 0;
  pointer-events: none;
  transform: translateY(6px);
  transition: 0.2s ease;
  z-index: 50;
}

.help:hover .help-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}