* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: black;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
}

.hero-content {
  padding: 160px 40px 0;
}

.left {
  flex: 1;
}

.lang {
  position : relative;
  z-index : 2000;
}

.lang a:link, .lang a:visited, .lang a:active {
  color: white;
  text-decoration: none;
}

.lang a:hover {
  color: rgba(255, 255, 255, 0.853);
}


.header {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  height: 90px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1000;
}

.glass-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.glass-menu {
  list-style: none;
  display: flex;
  gap: 3rem;
  padding: 14px 30px;
  border-radius: 40px;

  background: rgba(20, 20, 20, 0.45);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.15);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.glass-menu li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 30px;
  transition: 0.3s ease;
}

.glass-menu li i {
  color: #3fc9c0;
}

.glass-menu li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.glass-menu li:hover {
  background: rgba(63, 201, 192, 0.25);
  box-shadow: 0 0 15px rgba(63, 201, 192, 0.4);
}

/* ACTIVE */
.glass-menu li.active {
  background: linear-gradient(135deg, #3fc9c0, #1c6f6b);
  box-shadow: 0 0 18px rgba(63, 201, 192, 0.6);
}

.glass-menu li.active a,
.glass-menu li.active i {
  color: #fff;
}

#map {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.filtres {
  max-height: calc(100vh - 200px);
  overflow-y: auto;  
  position: absolute;
  top: 150px;
  left: 65px;
  width: 230px;
  background: rgba(41, 43, 43, 0.764);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.titre {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 18px;
  padding: 12px;
  cursor: grab;
  border-radius: 22px 22px 0 0;
}

.filtres button.type {
  background: transparent;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 4px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.filtres button.type:hover {
  color: #3fc9c0;
}


/* slider */
.periode input[type="range"] {
  -webkit-appearance: none;
  width: 85%;
  height: 6px;
  background: linear-gradient(to right, #5c91db, #DED44D);
  border-radius: 6px;
  outline: none;
}

/* bouton du slider */
.periode input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 6px;
  background: transparent;
  cursor: pointer;

  transition: background 0.2s ease;
}

.option:hover {
  background: rgba(255,255,255,0.08);
}

.option:has(input:checked) {
  background: rgba(63, 201, 192, 0.25);
  font-weight: 600;
}

.option::before {
  content: "";
  border-radius: 50%;
  background: rgba(255,255,255,0.4);
  flex-shrink: 0;
}

.option:has(input:checked)::before {
  background: #3fc9c0;
}


.type {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  opacity: 0.8;
}

input[type="submit"] {
  margin-top: 16px;
  padding: 10px 0;
  width: 100%;
  background: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.661);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

input[type="submit"]:hover {
  border-color: white;
}

.filtres::-webkit-scrollbar {
  width: 5px;
}

.filtres::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
}

.filtres::-webkit-scrollbar-thumb {
  background: rgb(143, 143, 143);
  border-radius: 15px;
}

.filtres::-webkit-scrollbar-thumb:hover {
  background: #f5f5f5ca;
}

/* RESPONSIVE */