* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Abyssinica SIL", serif;
  background: url("../img/bgi.png") center / cover no-repeat;
  background: black;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  height: 80px;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;

  /* shadow */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;
}

/* pour cacher le header */
.header.hide {
  transform: translateY(-100%);
}

.hero-content {
  padding: 160px 40px 0;
}

.left {
  font-size: 20px;
}

.nav {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav a.active {
  text-decoration: underline;
}

.contact-button {
    background-color: rgb(19, 79, 112);
    border-radius: 15px;
    padding: 8px 15px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-group textarea {
    height: 120px;
    resize: vertical;
}

button {
    background-color: #3f8093;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2c5e77;
}

.footer {
  background: #274242;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1.3fr 1.3fr;
  gap: 50px;
  padding: 40px 80px;
  font-size: 14px;
  color: white;
}

.footer-col {
  line-height: 1.6;
}

.footer strong {
  display: inline-block;
  margin-bottom: 8px;
  text-decoration: underline;
}

/* GitHub */
.footer-github {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.footer-github a {
  color: white;
}

.footer-github svg {
  flex-shrink: 0;
  margin-top: 4px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.footer-github a:hover svg {
  opacity: 0.8;
}

/* COPYRIGHT */
.copyright {
  background: #7f8f8f;
  text-align: center;
  padding: 12px;
  font-size: 13px;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 30px 20px;
    text-align: center;
  }

  .footer-github {
    justify-content: center;
  }
}