* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: url("../img/bgi.png") center / cover no-repeat;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  height: 80px;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;

  /* shadow */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;
}

/* pour cacher le header */
.header.hide {
  transform: translateY(-100%);
}

.left {
  font-size: 20px;
}

.left a:link, .left a:visited, .left a:hover, .left a:active {
  color: white;
  text-decoration: none;
}

.nav {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav a.active {
  text-decoration: underline;
}

main {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 20px 60px;
}

/* Effet verre */
form {
  width: 100%;
  max-width: 420px;
  padding: 40px 35px;
  border-radius: 24px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 30px 60px rgba(118, 119, 119, 0.562);
}

.form-group {
  position: relative;
  margin-bottom: 28px;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
  transition: 0.25s ease;
}

.form-group input,
.form-group textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.4);
  padding: 12px 0 8px;
  font-size: 15px;
  color: white;
}

.form-group textarea {
  resize: none;
  min-height: 90px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-bottom-color: #66abce;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
  transition: 0.25s ease;
}

.form-group input:focus + label,
.form-group textarea:focus + label,
.form-group input:valid + label,
.form-group textarea:valid + label {
  top: -8px;
  font-size: 12px;
  color: #c6de4d;;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 14px;
  background: rgba(222, 212, 77, 0.9);
  color: black;
  border: none;
  border-radius: 999px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 30px rgba(208, 228, 242, 0.452);
}

.footer {
  background: #274242;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1.3fr 1.3fr;
  gap: 50px;
  padding: 40px 80px;
  font-size: 14px;
  color: white;
}

.footer a {
  color: white;
  text-decoration: underline;
}

.footer a:hover {
  opacity: 0.8;
}

.footer-col {
  line-height: 1.6;
}

.footer strong {
  display: inline-block;
  margin-bottom: 8px;
  text-decoration: underline;
}

/* GitHub */
.footer-github {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.footer-github a {
  color: white;
}

.footer-github svg {
  flex-shrink: 0;
  margin-top: 4px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.footer-github a:hover svg {
  opacity: 0.8;
}

/* COPYRIGHT */
.copyright {
  background: #7f8f8f;
  text-align: center;
  padding: 12px;
  font-size: 13px;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 30px 20px;
    text-align: center;
  }

  .footer-github {
    justify-content: center;
  }
}

@media (max-width: 900px) {

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
