body {
  background: url("../img/bgi.png") center / cover no-repeat;
}

/* SECTION AVIS */
.avis {
  max-width: 600px;
  margin: 120px auto;
  padding: 40px;
  background: rgba(141, 141, 141, 0.08);
  backdrop-filter: blur(12px);
  border-radius: 24px;
  text-align: center;
}

.avis h2 {
  margin-bottom: 30px;
  font-size: 28px;
}

/* FORM */
.avis-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avis-form input,
.avis-form textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.661);
  padding: 10px;
  color: white;
  font-size: 14px;
}

.avis-form textarea {
  min-height: 80px;
  resize: none;
}

.avis-form input:focus,
.avis-form textarea:focus {
  outline: none;
  border-bottom-color: white;
}

/* ÉTOILES */
.stars {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 6px;
}

.stars input {
  display: none;
}

.stars label {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.661);
  cursor: pointer;
  transition: color 0.2s;
}

.stars label:hover,
.stars label:hover ~ label,
.stars input:checked ~ label {
  color: #3fc9c0;
}

/* BOUTON */
.avis-form button {
  margin-top: 10px;
  padding: 12px;
  border-radius: 999px;
  border: none;
  background: #3fc9c0;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.avis-form button:hover {
  transform: translateY(-2px);
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-content {
    grid-template-columns: 1fr;
    gap: 50px;
    text-align: center;
  }

  .contact-item {
    justify-content: center;
  }

  .social-links {
    justify-content: center;
  }
}
