* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overscroll-behavior: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background: black;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  height: 80px;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;

  /* shadow */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;
}

.left {
  font-size: 20px;
}

.left a:link, .left a:visited, .left a:active {
  color: white;
  text-decoration: none;
}

.left a:hover {
  color: rgba(255,255,255,0.75);
}

.nav {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.nav a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.25s ease;
}

.nav a:hover {
  color: rgba(255,255,255,0.75);
}

.nav a.active {
  color: rgba(255,255,255,0.75);
}

.footer {
  background: #274242;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1.3fr 1.3fr;
  gap: 50px;
  padding: 40px 80px;
  font-size: 14px;
  color: white;
}

.footer a {
  color: white;
  text-decoration: underline;
}

.footer a:hover {
  opacity: 0.8;
}

.footer-col {
  line-height: 1.6;
}

.footer strong {
  display: inline-block;
  margin-bottom: 8px;
  text-decoration: underline;
}

footer a {
    color: white; 
    text-decoration: underline; 
}

footer a:hover {
    color: #ccc; 
}

/* GitHub */
.footer-github {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.footer-github a {
  color: white;
}

.footer-github svg {
  flex-shrink: 0;
  margin-top: 4px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.footer-github a:hover svg {
  opacity: 0.8;
}

/* COPYRIGHT */
.copyright {
  background: #7f8f8f;
  text-align: center;
  padding: 12px;
  font-size: 13px;
  color: white;
}
