body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #06161c;      
  color: #eaf3f6;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.graph-container {
  width: 94%;              
  max-width: 100%;         
  margin: 0 auto 40px;
  padding: 20px 40px;       

  background-color: #0b2530;
  border-radius: 16px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}


.graph-container canvas {
  width: 100% !important;
  height: calc(100vh - 180px) !important;
}

.chartjs-legend {
  color: #ffffff;
}
