* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: black;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
}

.hero-content {
  padding: 160px 40px 0;
}

.left {
  flex: 1;
}

.lang a:link, .lang a:visited, .lang a:active {
  color: white;
  text-decoration: none;
}

.lang a:hover {
  color: rgba(255, 255, 255, 0.853);
}


/* ===== GLASS NAV ===== */

.glass-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.glass-nav {
  margin-top: 20px;
}

.glass-menu {
  list-style: none;
  display: flex;
  gap: 3rem;
  padding: 14px 30px;
  border-radius: 40px;

  background: rgba(20, 20, 20, 0.45);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.15);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.glass-menu li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 30px;
  transition: 0.3s ease;
}

.glass-menu li i {
  color: #3fc9c0;
}

.glass-menu li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.glass-menu li:hover {
  background: rgba(63, 201, 192, 0.25);
  box-shadow: 0 0 15px rgba(63, 201, 192, 0.4);
}

/* ACTIVE */
.glass-menu li.active {
  background: linear-gradient(135deg, #3fc9c0, #1c6f6b);
  box-shadow: 0 0 18px rgba(63, 201, 192, 0.6);
}

.glass-menu li.active a,
.glass-menu li.active i {
  color: #fff;
}


/* Intro */
.intro {
  text-align: center;
  margin-bottom: 100px;
}

.intro h1 {
  font-size: clamp(36px, 4vw, 52px);
  margin-bottom: 20px;
}

.intro p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 18px;
  opacity: 0.85;
  line-height: 1.6;
}

.section {
  text-align: center;
  padding: 30px;
}

.section h3 {
  font-size: 22px;
  margin-bottom: 12px;
  color: #3fc9c0;
}

.section p {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.85;
}
